<div id="app">

    <!-- cấu trúc hoạt đông sẽ là i18n là cái folder ngôn ngữ, còn cái : phía sau sẽ là tên của package  -->

    <h1 class="title"><ui-label value="i18n:playablead_build_ducbee_v1.welcome"></ui-label></h1> 
    <br />
    <h2>Hướng dẫn (Guide)</h2>
    <p><ui-label class="guide" value="i18n:playablead_build_ducbee_v1.step_1"></ui-label></p>
    <p><ui-label class="guide" value="i18n:playablead_build_ducbee_v1.step_2"></ui-label></p>
    <p><ui-label class="guide" value="i18n:playablead_build_ducbee_v1.step_3"></ui-label></p>
    <p><ui-label class="guide" value="i18n:playablead_build_ducbee_v1.step_4"></ui-label></p>
    <p><ui-label class="guide" value="i18n:playablead_build_ducbee_v1.step_4"></ui-label></p>
    <h3 class="title"><ui-label value="i18n:playablead_build_ducbee_v1.supportAds"></ui-label></h3> 
    <h3 class="title"><ui-label value="i18n:playablead_build_ducbee_v1.canbuildAds"></ui-label></h3> 
    <div id="msg">
        <div id = "inline_block">
            <p><ui-label id="title_behavior" value="i18n:playablead_build_ducbee_v1.behavior"></ui-label></p>
            <p><ui-label id="behavior"></ui-label></p>
        </div>
    </div>
    <div class="btn_group">
        <ui-button id="cancel_btn" style="background: #999;margin-right: 50px;" class="button-item"><ui-label value="i18n:playablead_build_ducbee_v1.cancel"></ui-label></ui-button>
        <ui-button id="pack_btn" class="button-item" style="background: rgb(211, 43, 94);"><ui-label value="i18n:playablead_build_ducbee_v1.pack"></ui-label></ui-button>
    </div>
    <div id = "help_box">
        <a href=":;" id="help_link"><ui-label value="i18n:playablead_build_ducbee_v1.get_help"></ui-label></a>
    </div>
    <p id="copyright" >Copyright © by PPGee. Collab and modify by ducBee 12/05/2023 12:01 PM GMT+7 </p>
</div>